<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="random"
         resolveDependencies="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory suffix="Test.php">./tests/Integration/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="true"/>
  </php>
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </coverage>
</phpunit>
